pandas
jupyter
catboost
matplotlib
scipy
xgboost
sklearn
tensorflow==1.15.4
numpy
tensorflow-data-validation
tensorflow-transform
jupyterlab
seaborn
imbalanced-learn
tensorboard
witwidget
category_encoders
