pandas
jupyter
catboost
matplotlib
scipy
xgboost
sklearn
tensorflow==2.5.3
numpy
tensorflow-data-validation
tensorflow-transform
jupyterlab
seaborn
imbalanced-learn
tensorboard
witwidget
category_encoders
